/*===================================*/
/*Стилизация заднего фона игрового поля*/
/*===================================*/
#full {
  border-radius:3%;
  width: 98%;
  height: 98%;
  top:1%;
  left: 1%;
  position: fixed;
  cursor: auto;
  background: url(../img/3_backgraund_1900x1055.png), repeat-x 0 100% fixed,    linear-gradient(to top, #5080b1, #004e8c) fixed;
  -webkit-animation: water 17s linear infinite;
  -webkit-border-radius:3%;
  -moz-border-radius:3%;
  -ms-border-radius:3%;
  -o-border-radius:3%;
}
/*добавляем анимацию движения картинки заднего фона*/
@keyframes water {
  from {
    background-position: 1000px 100%, 120% 30%, 120% 15%, 0%;
  }

  to {
    background-position: 0 100%, -200% 10%, -50% 15%, 0%;
  }
}
/*===================================*/
/*Стилизация стартового блока игры*/
/*===================================*/
#start-block {
  border-radius:3%;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  background-image: url(../img/Start_game_900x500.png);
}
/*Стилизацияе кнопки start game*/
#start-block button {
  margin: 40% auto;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  width: 910px;
  height: 99px;
  font-size: 34px;
  background: transparent;
  border: none;
  background-size: cover;
  background-position: center;
  background-image: url(../img/start_button_910x99.png);
}
/*Добавляем эффект увеличения кнопки start game при наведении на нее*/
#start-block button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/*===================================*/
/*Стилизация игрового таймера*/
/*===================================*/

#time {
  position: absolute;
  margin-top: 10px;
  left: 40%;
  font-size: 50px;
  color: #edf50b;
  font-weight: bold;
  font-style: italic;
}

#time span {
  float: right;
}

#clock {
  height: 50px;
  width: 50px;
  background-image: url(../img/clock.png);
}

/*===================================*/
/*Стилизация отображения очков жизни*/
/*===================================*/

#lifes {
  position: absolute;
  top: 10px;
  right: 10px;
}

#lifes span {
  display: grid;
  height: 50px;
  width: 50px;
  background-image: url(../img/lifes.png);
  float: left;
}

/*===================================*/
/*Стилизация отображения очков игры*/
/*===================================*/

#stars {
  font-size: 50px;
  color: #101bf6;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  left: 1%;
  margin-top: 10px;
}

#stars span {
  float: right;
  margin: 5px;
}


/**Стилизация блока подлодки**/
#end {
  background-image: url(../img/end.png);
  width: 200px;
  height: 150px;
  top: 0;
  display: none;
  position: absolute;
}
/*Cтилизация пузырьков*/
#bubles {
  width: 50px;
  height: 50px;
  top: 100%;
  display: none;
  position: absolute;
  background-image: url(../img/bubbles.png);
  animation: bubles 13s infinite linear;
  -webkit-animation: bubles 13s infinite linear;
}

@keyframes bubles {
  0% {
  }
  10% {
    margin-left: -4.5%;
  }
  20% {
    margin-left: -5.5%;
  }
  30% {
    margin-left: -8%;
  }
  40% {
    margin-left: -4.5%;
  }
  50% {
    margin-left: -2.5%;
  }
  60% {
    margin-left: 1.5%;
  }
  70% {
    margin-left: 3.5%;
  }
  80% {
    margin-left: 6.5%;
  }
  90% {
    margin-left: 8%;
  }
  100% {
    margin-left: 10em;
  }
}
/**стилизация окончания игры*/
#game-over {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15% 0%;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  position: absolute;
  font-style: italic;
  color: yellow;
}

/*===================================*/
/*Стилизация отображения рыбок в игре*/
/*===================================*/

#starsFish {
  height: 50px;
  width: 50px;
  background-image: url(../img/starsFish.png);
}

.fish {
  position: absolute;
  border-radius:10px;
  height: 70px;
  width: 70px;
  left: 96%;
  display: none;
  
  
}

.first {
  animation: first 200ms infinite;
  -webkit-animation: first 200ms infinite;
}

@keyframes first {
  0% {
    background-image: url(../img/fish.png);
  }
  100% {
    background-image: url(../img/fish1.png);
  }
}

.star {
  background-image: url(../img/fish_lifes.png);
  animation: fish 20s infinite linear;
}

.bomb {
  animation: fish 20s infinite linear;
  animation: bomb 350ms infinite;
}

@keyframes bomb {
  0% {
    background-image: url(../img/fish_bomb.png);
  }
  100% {
    background-image: url(../img/fish_bomb1.png);
  }
}

.minus {
  background-image: url(../img/fish_minus.png);
  height: 50px;
  animation: fish 7s infinite linear;
}

.plus {
  background-image: url(../img/fish_plus.png);
  animation: fish 20s infinite linear;
}

.shark {
  background-image: url(../img/fish_shark.png);
  height: 60px;
  width: 80px;
  animation: fish 5s infinite linear;
}

@keyframes fish {
  0% {
  }
  10% {
    margin-top: -9.5%;
  }
  20% {
    margin-top: -5.5%;
  }
  30% {
    margin-top: -7%;
  }
  40% {
    margin-top: -5%;
  }
  50% {
    margin-top: -3%;
  }
  60% {
    margin-top: 2%;
  }
  70% {
    margin-top: 5%;
  }
}
/*стилизация кнопки играть еще раз*/
#again {
 
  width: 200px;
  height: 50px;
  top:72%;
  left:45%;
  position: absolute;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  } 
  
  



/*стилизация главной рыбки*/
#fish_hero{
  display: block;
  position: absolute;
  border-radius:10px;
  width: 67px;
  height: 67px;
  top:50%;
  left:45%;
  background: url(../img/88.png);
}

/*стилизация окна выбора сложности*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0%;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}


.menu__box {
  border-radius:20px;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 1%;
  left: -100%;
  width: 200px;
  height: 81%;
  z-index: 1;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(133, 215, 219, 0.37);
  box-shadow: 1px 0px 6px rgba(62, 137, 156, 0.2);
  transition-duration: .25s;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}

.menu__item {
  background-color: rgba(64, 224, 64, 0.199);
  border-radius:30px;
  display: block;
  
  margin-top: 10px;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: yellowgreen;
}